//
// Theme Sass variables
//
// @see http://getbootstrap.com/docs/4.1/getting-started/theming/ for more details.
//

// Example how update variables of Bootstrap.
//$body-bg: black;
//$body-color: white;
//$primary: magenta;
$localHosp: #292236;
$top-reslt: #231e2e;
$espc: rgba(0,90,102,.3);
$texto: rgba(0,90,102,.3);
